<div class="container"></div>
  <footer class="footer"></footer>
    <small>
      Copyright &copy; <a href="https://www.udemy.com">The complete ruby on rails developer</a>
      by <a href="http://www.marklane.com">Mark Lane</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>